<p style="color: green"><%= notice %></p>

<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>

<%= link_to 'return to restaurants list', restaurants_path  %>
